<nav aria-label="Pagination" *ngIf="totalPages > 1">
  <ul class="pagination pagination-sm justify-content-center mb-0">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="goTo(currentPage - 1)">Previous</button>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <button class="page-link" (click)="goTo(page)">{{ page }}</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="goTo(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>
